/__pycache__
/models/__pycache__
/routes/__pycache__
/services/__pycache__
/tests/__pycache__
/workers/__pycache__
/repositories/__pycache__
/clients/__pycache__
.pytest_cache/
*.pkl
mlflow.db
mlruns/